.pagination-index {
	padding: 8px 10px;
	border-radius: 6px;
	background: $primary-color-light;
	min-width: 100px;
	width: fit-content;
	height: 46px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 50px;
	&__chevron {
		width: 30px;
		height: 30px;
		text-align: center;
		cursor: pointer;
		transition: all 0.3s;
		display: flex;
		justify-content: center;
		margin-top: 13px;
		&:hover {
			color: $primary-color;
			svg {
				path {
					fill: $primary-color;
				}
			}
		}
		svg {
			path{
				fill: $dark-bg;
			}
			transform-origin: center center;
		}
		&--left {
			svg {
				transform: scale(1.5) rotateZ(90deg);
			}
		}
		&--right {
			svg {
				transform: scale(1.5) rotateZ(-90deg);
			}
		}
	}
	&__index {
		text-align: center;
		height: 30px;
		width: 30px;
		font: normal normal 600 16px/28px 'Barlow Condensed';
		letter-spacing: 0px;
		padding-top: 1px;
		cursor: pointer;
		border-radius: 6px;
		&--active, &:hover {
			color: $white;
			background: $primary-color;
		}
	}
}